{% extends "base.html" %}
{% load static %}
{% block content %}
    <form method="GET"  action="{% url 'search' %}">{% csrf_token %}
        <div class="input-group">
            <input type="text" name="q">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">Search</button>
            </span>
        </div>
    </form>
    {% for rw in data %}
    <table>
        <tr>
            <td><h3>{{rw.title}}</h3></td>
            <td>{{rw.dateFrom}}</td>
            <td>{{rw.dateTo}}</td>
        </tr>
    </table>
    {% endfor %}
    <!-- <script type="text/javascript">
        function tableSearch() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i <script tr.length; i++) {
              td = tr[i].getElementsByTagName("td")[0];
              if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                } else {
                  tr[i].style.display = "none";
                }
              }
            }
          }
    </script> -->
{% endblock %}